@charset "UTF-8";

/*
    Em HTML é id = em CSS é #
    Em HTML é class = em CSS é .
*/
body {
    background-color: rgb(181, 250, 227);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 65, 44);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(8, 112, 78);
}

.basico {
    color: rgb(22, 190, 134);

}

.intermediario {
    color: rgb(105, 112, 8);
}

.avançado {
    color: rgb(112, 8, 8);
}

.destaque {
    background-color: rgba(105, 112, 8, 0.61);
}