@charset "UTF-8";
@font-face {
    font-family: 'android' ;
    src: url(fontes/idroid.otf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    text-align: justify;
    background-color: #84E1AD;
    margin: 0px;
    border: 0px;
    padding: 0px;
    color: black;
}

header {
    background-image: linear-gradient(to right,  #3BD27F, #258350, #1A5C38);
    background-attachment: fixed;
    margin: 0px;
    padding: 20px;
}

header > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

nav > a:hover {
    color: #258350;
}

h2 {
    font-family: android;
    margin: 0px;
    background-image: linear-gradient(to right, #3bd27f5b, #1a5c3800 );
}

#h2 {
    margin: 12px 0px 0px 0px;
}

section > h1 {
    font-family: android;
    margin: 0px;
    background-image: linear-gradient(to right, #3bd27f5b, #1a5c3800 );
}

span {
    color: rgb(9, 184, 9);
}

.links {
    color: rgb(9, 184, 9);
    text-decoration: none;

}

.links::after {
    content: '';
}

main {
    background-color: white;
    margin: 0px 100px 10px 100px ;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

footer {
    text-align: center;
    margin: 0px 0px;
    padding: 4px;
    background-color: #1A5C38;
    color: white;
}

.footer {
    color: #31a364
}

.img {
    display: flex;
    justify-content: center;
}

#img-bug {
    display: flex;
    justify-content: center;
}

.android {
    text-align: center;
    background-color: #1A5C38;
    margin: 0px;
    padding: 10px;
}

#extra {
    background-color: #2FA866;
    color: #ffffff;
    border-radius: 5px;
    margin: 10px -9px 0px -9px
} 

#extra-1 {
    background-color: #C5EBD6;
    margin: 18px 0px 0px 0px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 10px 10px 10px;

}

div#li-1 {
    display: inline-block;
    margin: 0px 0px 0px -70px;
    padding: 10px;
}

div#li-2 {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}



